body {
    background: #F7F7F7;
    font-size: 16px;
}
a, a:visited {
    color: #B0B0B0;
    text-decoration: none;
}
a:hover, a:active {
    color: #333;
}
#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background: #1C1C1C;
}
#sidebar a,
#sidebar a:visited {
    color: #C7C7C7;
    text-decoration: none;
}
#sidebar a:hover,
#sidebar a:active {
    color: #DBDBDB;
}
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar ul li {
    color: #C7C7C7;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: #2B2B2B;
    border-bottom: 1px solid #3D3D3D;
}
#sidebar ul li.label {
    padding: 0.4rem 0.8rem;
    height: 30px;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}
#sidebar ul li a {
    display: block;
    padding: 0.6rem 0.8rem;
}
#sidebar ul li a:hover {
    background: #1C1C1C;
}
#sidebar ul.fixed-list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 70px;
    overflow: hidden;
}
#sidebar ul.fixed-list:hover {
    overflow: visible;
}
#sidebar ul.fixed-list li {
    display: block;
    width: 100%;
    height: 70px;
}
#sidebar ul.fixed-list li:first-child {
    font-weight: bold;
}
#sidebar ul.fixed-list li a {
    padding: 1.6rem 0.8rem;
}
#sidebar ul.fixed-list li a:hover {
    background: #3856DE;
}
#sidebar ul.master li ul {
    display: none;
}
#sidebar ul.master li:hover ul {
    display: block;
}
#sidebar ul.master li:hover ul li {
    padding-left: 0.8rem;
}
#sidebar ul.master li:hover ul li:last-child {
    border-bottom: none;
}
#sidebar input {
    margin-top: 70px;
    width: 100%;
    border: none;
    background: #0D0D0D;
    color: #C7C7C7;
    text-align: center;
    padding: 0.8rem;
    box-sizing: border-box;
}
#main {
    margin-top: 100px;
    margin-left: 250px;
    padding-left: 60px;
    padding-right: 30px;
}
#main header {
    position: fixed;
    top: 0;
    left: 250px;
    width: 100%;
    height: 70px;
    padding-left: 20px;
    background: #fff;
    box-shadow: 0 0.05rem 0.05rem #C7C7C7;
}
#main header h1 {
    font-size: 1rem;
    font-weight: normal;
}
#main header h2 {
    font-size: 0.6rem;
    font-weight: normal;
}
#content ul.items {
    list-style: none;
}
#content .items li {
    display: inline-block;
    width: 200px;
    height: 290px;
    margin: 0 10px 20px 0;
    padding: 10px;
    background: #fff;
    box-shadow: 0.05rem 0.05rem 0.05rem #C7C7C7;
}
#content .items a {
    display: block;
    width: 100%;
    height: 100%;
}
#content .items p {
    margin-bottom: 0.2rem;
}
#content .items .price {
    margin-bottom: 0.2rem;
    font-size: 0.8em;
}